.formContainer {
    margin: 70px auto;
    width: 1300px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formContenT {
    background: linear-gradient( 90deg, rgb(39, 176, 255) 0%, rgb(0, 232, 236) 100%);
    position: relative;
    background-image: url("../img/graph.jpg");
    background-size: cover;
}

.formSuccess {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    color: #fff;
}

.formContentRight {
    position: relative;
    background: linear-gradient( 90deg, rgb(250, 250, 250) 0%, rgb(250, 250, 250) 100%);
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h5 {
    font-size: 0.8rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: grey;
}

.form h1 {
    font-size: 2rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
}

.formInputs {
    margin-bottom: 0.5rem;
    width: 80%;
}

.formInputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
}

.formLabel {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color: black;
}

.formInput {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    border: solid 1px;
    border-color: rgb(179, 174, 174);
    background: rgb(250, 250, 250) 100%;
}

.checkbox {
    text-align: left;
    margin-right: 40%;
    font-size: 14px;
}

.checkboxForgetPass a {
    text-decoration: none;
    color: #0326c0;
    font-weight: 600;
}

.checkboxForgetPass span {
    margin-right: 30px;
}

.formInput::placeholder {
    color: #595959;
    font-size: 12px;
}

.formInputBtn {
    width: 80%;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(8, 6, 160) 0%, rgb(8, 6, 160) 100%);
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.formInputGoogleBtn {
    outline: none;
    border-radius: 20px;
    height: 50px;
    width: 80%;
    border: solid 1px;
    font-weight: bold;
    border-color: rgb(179, 174, 174);
    background: rgb(250, 250, 250) 100%;
    background-image: url("../img/ggl.png");
    background-repeat: no-repeat;
    background-position: 120px;
    background-size: 3ch;
}

.formInputBtn:hover {
    cursor: pointer;
    background: linear-gradient( 90deg, rgb(39, 143, 255) 0%, rgb(39, 143, 250) 100%);
    transition: all 0.4s ease-out;
}

.formInputLogin {
    font-size: 0.8rem;
    margin-top: 20px;
    margin-right: 40%;
    color: black;
    width: 80%;
    text-align: center;
}

.formInputLogin a {
    text-decoration: none;
    color: #0326c0;
    font-weight: 600;
}

.boltIcon {
    margin-right: 75%;
    color: #0326c0;
}

.divContainer {
    width: 80%;
    height: 15px;
    border-bottom: 1px solid rgb(179, 174, 174);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.signupEmail {
    font-size: 15px;
    background-color: #f3f5f6;
    padding: 0 10px;
    color: rgb(179, 174, 174);
}