.divContainer {
    width: 100%;
    height: 15px;
    border-bottom: 1px solid rgb(179, 174, 174);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.signupEmail {
    font-size: 15px;
    background-color: white;
    padding: 0 10px;
    color: rgb(179, 174, 174);
}

.gglSign {
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 60px;
}