.sideb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width: 10%;
    align-items: center;
    margin-left: 0;
}

.sideb>.logo,
.sideb>.contacts {
    margin-right: 100%;
}

.trip {
    color: aliceblue;
    display: flex;
    background-image: url("https://images.pexels.com/photos/2903249/pexels-photo-2903249.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 10%;
}

.content>.para {
    width: 20%;
    font-style: 45px;
    font-weight: 500;
}

.content>.right {
    display: flex;
    justify-content: space-evenly;
}

.content>.right>.title {
    font-family: initial;
    font-size: 20px;
}

.content>.right>.title>p {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 4px;
}

.content>.right>.intro {
    margin-top: 12%;
    margin-left: 2%;
    width: 25%;
    font-size: 15px;
}

.contacts {
    margin-bottom: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact>div {
    margin-bottom: 90%;
    font-size: 12px;
}